{% extends 'base.html.twig' %}

{% block title %}
Tous nos biens
{% endblock %}

{% block body %}
<h1>Listes de tous nos biens</h1>
    {% for property in properties %}
    {{ dump(property) }}
    {% endfor %}
{% endblock %}